section {
	display: inline-block;
	margin: 20px;
}

.display {
	display: inline;
}

.detailsMenu {
	width: 100%;
	position: relative;
 	height: 50px;
 	margin: 0px;
}

.detailButton {
	height: 15px;
	width: 50px;
	text-align: center;
	margin-left: 10px;
}

.DetailTitle {
	font-family: Arial;
	font-weight: bold;
}

.DetailContent {
	font-family: Garamond sans-serif;
	margin-left: 10px;
}